<div ng-cloak>
    <!-- Start intro section -->
    <section id="intro" class="section-intro">
        <div class="overlay">
            <div class="container">
                <div class="main-text">
                    <h1 class="intro-title">Welcome To <span style="color: #3498DB">GetReviews</span></h1>
                    <p class="sub-title">Reviews to everything from cars to mobile phones and computers, from barbershops to universities, from movies to books - all in one place!</p>

                    <!-- Start Search box -->
                    <div class="row search-bar">
                        <div class="advanced-search">
                            <form class="search-form" method="get">
                                <div class="col-md-9 col-sm-6 search-col">
                                    <input class="form-control keyword" name="keyword" ng-model="keywords" value="" placeholder="Enter Keyword" type="text">
                                    <i class="fa fa-search"></i>
                                </div>
                                <div class="col-md-3 col-sm-6 search-col">
                                    <button class="btn btn-common btn-search btn-block" ng-click="search()"><strong>Search</strong></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- End Search box -->
                </div>
            </div>
        </div>
    </section>
    <!-- end intro section -->

    <div class="wrapper">

        <!-- Categories Homepage Section Start -->

        <section id="categories-homepage">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Browse Categories</h3>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-1 wow fadeInUpQuick" data-wow-delay="0.3s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-users color-1"></i></a>
                            </div>
                            <div class="category-header">
                                <a href="category.html"><h4>Community</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Announcements</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Car Pool - Bike Ride</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Charity - Donate - NGO</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Lost - Found</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Tender Notices</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">General Entertainment</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">View all subcategories →</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-2 wow fadeInUpQuick" data-wow-delay="0.6s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-laptop-phone color-2"></i></a>
                            </div>
                            <div class="category-header">
                                <a ui-sref="item({category:1})"><h4>Electronics</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Home Electronics</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">LCDs</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Charity - Donate - NGO</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Mobile & Tablets</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a ui-sref="item({category:3})">TVs</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Technical Services</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Others</a>
                                        <sapn class="category-counter">1</sapn>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-3 wow fadeInUpQuick" data-wow-delay="0.9s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-cog color-3"></i></a>
                            </div>
                            <div class="category-header">
                                <a href="category.html"><h4>Services</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Cleaning Services</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Educational</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Food Services</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Medical</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Office & Home Removals</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">General Entertainment</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">View all subcategories →</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-4 wow fadeInUpQuick" data-wow-delay="1.2s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-cart color-4"></i></a>
                            </div>
                            <div class="category-header">
                                <a href="category.html"><h4>Shopping</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Bags</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Beauty Products</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Jewelry</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Shoes M/F</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Tender Notices</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Others</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-5 wow fadeInUpQuick" data-wow-delay="1.5s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-briefcase color-5"></i></a>
                            </div>
                            <div class="category-header">
                                <a href="category.html"><h4>Jobs</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Accounts Jobs</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Cleaning & Washing</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Web design</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Design & Code</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Finance Jobs</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Data Entry</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">View all subcategories →</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-6 wow fadeInUpQuick" data-wow-delay="1.8s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-graduation-hat color-6"></i></a>
                            </div>
                            <div class="category-header">
                                <a href="category.html"><h4>Training</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Android Development</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">20 Days HTML/CSS</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">iOS Development with Swift</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">SEO for rest of us</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Mastering in Java</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Others</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">View all subcategories →</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-7 wow fadeInUpQuick" data-wow-delay="2.1s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-apartment color-7"></i></a>
                            </div>
                            <div class="category-header">
                                <a href="category.html"><h4>Real Estate</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Farms</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Home for rent</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Hotels</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Land for sale</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Offices for rent</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Others</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="category-box border-8 wow fadeInUpQuick" data-wow-delay="2.3s">
                            <div class="icon">
                                <a href="category.html"><i class="lnr lnr-car color-8"></i></a>
                            </div>
                            <div class="category-header">
                                <a href="category.html"><h4>Vehicles</h4></a>
                            </div>
                            <div class="category-content">
                                <ul>
                                    <li>
                                        <a href="category.html">Cars</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Fancy Cars</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Kids Bikes</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Motor Bikes</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Classic & Modern</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">Kinds</a>
                                        <sapn class="category-counter">3</sapn>
                                    </li>
                                    <li>
                                        <a href="category.html">View all subcategories →</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Categories Homepage Section End -->

        <!-- Featured Listings Start -->
        <section class="featured-lis">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s" style="-webkit-animation-name: none; -moz-animation-name: none; animation-name: none;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
                        <h3 class="section-title">Featured Reviews</h3>
                        <div id="new-products" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3760px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-235px, 0px, 0px);">

                                <div class="owl-item" style="width: 235px;" ng-repeat="item in vm.randomItems"><div class="item">
                                    <div class="product-item">
                                        <div class="carousel-thumb" style="max-height: 235px; height: 235px">
                                            <img src="{{item.imageUrl}}" style="max-height: 200px;" alt="">
                                            <div class="overlay">
                                                <a ui-sref="item-detail({id:item.id})"><i class="fa fa-link"></i></a>
                                            </div>
                                        </div>
                                        <a ui-sref="item-detail({id:item.id})" class="item-name">{{item.name}}</a>
                                        <span class="price">{{item.rating | number : 2}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </div>

                            <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured Listings End -->

    <!-- Counter Section Start -->
    <section id="counter">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counting wow fadeInDownQuick" data-wow-delay="2s">
                        <div class="icon">
                <span>
                  <i class="lnr lnr-license"></i>
                </span>
                        </div>
                        <div class="desc">
                            <h3 class="counter">{{vm.itemsCount}}</h3>
                            <p>Items</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counting wow fadeInDownQuick" data-wow-delay=".5s">
                        <div class="icon">
                <span>
                  <i class="lnr lnr-tag"></i>
                </span>
                        </div>
                        <div class="desc">
                            <h3 class="counter">{{vm.reviewsCount}}</h3>
                            <p>Reviews</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="counting wow fadeInDownQuick" data-wow-delay="1.5s">
                        <div class="icon">
                <span>
                  <i class="lnr lnr-users"></i>
                </span>
                        </div>
                        <div class="desc">
                            <h3 class="counter">{{vm.membersCount}}</h3>
                            <p>Members</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->
</div>
