<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myReviewLabel" data-translate="getReviewsApp.review.home.createOrEditLabel">Create or edit a Review</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.review.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.review.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="getReviewsApp.review.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                    ng-model="vm.review.rating"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="getReviewsApp.review.text" for="field_text">Text</label>
            <input type="text" class="form-control" name="text" id="field_text"
                   ng-model="vm.review.text"
                   ng-maxlength="10000"/>
            <div ng-show="editForm.text.$invalid">
                <p class="help-block"
                   ng-show="editForm.text.$error.maxlength" data-translate="entity.validation.maxlength"
                   translate-value-max="10000">
                    This field cannot be longer than 10000 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="getReviewsApp.review.source" for="field_source">Source</label>
            <select class="form-control" id="field_source" name="source" ng-model="vm.review.source"
                    ng-options="source as source.id for source in vm.sources track by source.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="getReviewsApp.review.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" ng-model="vm.review.client"
                    ng-options="client as client.id for client in vm.clients track by client.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="getReviewsApp.review.item" for="field_item">Item</label>
            <select class="form-control" id="field_item" name="item" ng-model="vm.review.item"
                    ng-options="item as item.id for item in vm.items track by item.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
